/* 1.   Variables */
@std-black: #282828;
@std-grey: #7a7e81;
@std-yellow: #ffc308;
@font-family: 'Open Sans', sans-serif;

/* 2.   Typography */
a:hover, .uk-link:hover {
    color: @std-black;
    text-decoration: underline;
}

h1, .uk-h1, h2, .uk-h2, h3, .uk-h3, h4, .uk-h4, h5, .uk-h5, h6, .uk-h6 {
    color: @std-black !important;
    font-weight: 100 !important;
    font-family:@font-family;
}

.go-black{
    color:@std-black!important;
}

/*
    Navigation / header
*/

.uk-navbar-nav > li > a, .uk-navbar-item, .uk-navbar-toggle
{
    font-family:@font-family;
}


.uk-navbar-container:not(.uk-navbar-transparent),
.uk-navbar-container.uk-navbar-transparent.uk-sticky {
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(30,30,30,.09);
}

.uk-navbar-toggle:hover, .uk-navbar-toggle:focus, .uk-navbar-toggle.uk-open
{
    color: @std-black;
}

.uk-navbar-nav > li > a {
    color: @std-black;
    text-transform: uppercase;
    transition: 0.1s ease-in-out;
    transition-property: color, background-color;
}


.uk-navbar-nav > li > a:active,
.uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a:focus, .uk-navbar-nav > li > a.uk-open,
.uk-navbar-nav li a.active{
    color: @std-yellow;
}
/*
    Typography
*/
.uk-text-background {
    background-color: @std-yellow !important;
}

.uk-heading-hero
{
    font-weight:100!important;
}

/*
    Butons
*/
.uk-close:hover, .uk-close:focus
{
    color:@std-black;
}

.uk-icon
{
    color:@std-black;
}


.uk-icon-button:focus, .uk-icon-button:hover {
    background-color: @std-yellow;
    color: #fff;
    outline: 0;
    background-image: linear-gradient(45deg,@std-yellow,#f2cc54);
}

.uk-icon-special{
    color:#ffffff;
}

.uk-icon-button{
    background:@std-black;
}

/*
    Page Layout
*/

a, .uk-link {
    color: @std-black;
}

::selection {
    background: @std-black;
}

html {
    color: @std-black;
    font-weight: 100;
    font-family: @font-family;
}
.template-page {
    position: relative;
}

.template-header-placeholder {
    height: 106px;
}

.uk-section-default {
    background: #fff;
    background-image: url(../images/assets/section-background-image-lines.svg);
    background-position-x: 50%;
}

