
@{
    ViewData["Title"] = "Index";
}

<div class="uk-section-default uk-section uk-padding-remove-bottom" uk-scrollspy="cls:uk-animation-slide-top-small">
    <!-- start: uk-section-default -->
    <div class="uk-background-norepeat uk-background-center-center uk-background-image@m uk-background-fixed uk-section uk-section-large uk-padding-remove-top uk-flex uk-flex-middle"
         data-src="../images/assets/code-bg.svg" width="" height="" alt="" uk-img>
        <!-- start: uk-width-1-1 -->
        <div class="uk-width-1-1">
            <!-- start: uk-container -->
            <div class="uk-container">
                <div class="template-header-placeholder uk-margin-remove-adjacent" style="height: 106px;"></div>
                <!-- start: uk-grid-margin uk-grid-stack -->
                <div class="uk-grid-margin uk-grid-stack" uk-grid>
                    <!-- start: uk-width-1-1@m -->
                    <div class="uk-width-1-1@m">
                        <!-- start: uk-margin uk-text-center -->
                        <div class="uk-margin uk-text-center" uk-scrollspy="cls:uk-animation-slide-top-small">
                            <img data-src="../images/assets/logo-bg.svg" alt="" uk-img="">
                            <h1 class="uk-align-center uk-margin-remove-vertical uk-text-center uk-heading-hero" uk-scrollspy="cls:uk-animation-slide-top-small">
                                <span class="uk-text-background">Life</span>
                                <span class="go-black">,</span>
                                <span class="uk-text-background">Food</span>
                                <span class="go-black">,</span>
                                <span class="uk-text-background">Code</span>
                            </h1>
                        </div>
                        <!-- end: uk-margin uk-text-center -->
                    </div>
                    <!-- end: uk-width-1-1@m -->
                </div>
                <!-- end: uk-grid-margin uk-grid-stack -->

            </div>
            <!-- end: uk-container -->
        </div>
        <!-- end: uk-width-1-1 -->
    </div>
    <!-- end: uk-section-default -->
</div>


<!-- start: uk-section uk-section-default -->
<div class="uk-section uk-section-default">
    <!-- start: uk-container -->
    <div class="uk-container">
        <article id="1" class="uk-article" data-permalink="#">
            <meta property="name" content="&lt;a href=&quot;insert-perm-link&quot; class=&quot;uk-link-reset&quot;&gt;insert-title&lt;/a&gt;">
            <meta property="author" typeof="Person" content="Michiel Oppenheimer">
            <meta property="dateModified" content="2018-10-02T14:07:23+00:00">
            <meta property="datePublished" content="2018-10-02T14:07:23+00:00">
            <meta class="uk-margin-remove-adjacent" property="articleSection" content="Blog">
            <!-- start: uk-text-center uk-margin-medium-top -->
            <div class="uk-text-center uk-margin-medium-top" property="image" typeof="ImageObject">
                <a href="#">
                    <img data-src="../images/tmp/entry-1.jpg" data-srcset="../images/tmp/entry-1.jpg 768w, ../images/tmp/entry-1.jpg 1024w, ../images/tmp/entry-1.jpg 1200w" data-sizes="(min-width: 1200px) 1200px" data-width="1200" data-height="600" uk-img="" property="url" alt="" src="../images/tmp/entry-1.jpg" sizes="(min-width: 1200px) 1200px" srcset="../images/tmp/entry-1.jpg 768w, ../images/tmp/entry-1.jpg 1024w, ../images/tmp/entry-1.jpg 1200w">
                </a>
            </div>
            <!-- end: uk-text-center uk-margin-medium-top -->
            <!-- start: uk-container uk-container-small -->
            <div class="uk-container uk-container-small">
                <h2 class="uk-margin-large-top uk-margin-remove-bottom uk-text-center uk-article-title">
                    <a href="#" class="uk-link-reset">IEquatable and ValueTuples</a>
                </h2>
                <p class="uk-margin-top uk-margin-remove-bottom uk-article-meta uk-text-center">
                    Written by Super User on <time datetime="2018-10-02T14:07:23+00:00">02 October 2018</time>.
                    Posted in <a href="#">Blog</a>
                </p>
                <div class="uk-margin-medium-top" property="text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute
                        iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis autem vel eum iriure dolor in
                        hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
                        accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla
                        facilisi.
                    </p>
                </div>
                <p class="uk-text-center uk-margin-medium">
                    <a class="uk-button uk-button-text" href="#">
                        Continue reading
                    </a>
                </p>
            </div>
            <!-- end: uk-container uk-container-small -->
        </article>

        <article id="2" class="uk-article" data-permalink="#">
            <meta property="name" content="&lt;a href=&quot;insert-perm-link&quot; class=&quot;uk-link-reset&quot;&gt;insert-title&lt;/a&gt;">
            <meta property="author" typeof="Person" content="Michiel Oppenheimer">
            <meta property="dateModified" content="2018-10-02T14:07:23+00:00">
            <meta property="datePublished" content="2018-10-02T14:07:23+00:00">
            <meta class="uk-margin-remove-adjacent" property="articleSection" content="Blog">
            <!-- start: uk-text-center uk-margin-medium-top -->
            <div class="uk-text-center uk-margin-medium-top" property="image" typeof="ImageObject">
                <a href="#">
                    <img data-src="../images/tmp/entry-2.jpg" data-srcset="../images/tmp/entry-2.jpg 768w, ../images/tmp/entry-2.jpg 1024w, ../images/tmp/entry-2.jpg 1200w" data-sizes="(min-width: 1200px) 1200px" data-width="1200" data-height="600" uk-img="" property="url" alt="" src="../images/tmp/entry-2.jpg" sizes="(min-width: 1200px) 1200px" srcset="../images/tmp/entry-2.jpg 768w, ../images/tmp/entry-2.jpg 1024w, ../images/tmp/entry-2.jpg 1200w">
                </a>
            </div>
            <!-- end: uk-text-center uk-margin-medium-top -->
            <!-- start: uk-container uk-container-small -->
            <div class="uk-container uk-container-small">
                <h2 class="uk-margin-large-top uk-margin-remove-bottom uk-text-center uk-article-title">
                    <a href="#" class="uk-link-reset">VS Code goodies</a>
                </h2>
                <p class="uk-margin-top uk-margin-remove-bottom uk-article-meta uk-text-center">
                    Written by Super User on <time datetime="2018-10-02T14:07:23+00:00">02 October 2018</time>.
                    Posted in <a href="#">Blog</a>
                </p>
                <div class="uk-margin-medium-top" property="text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute
                        iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis autem vel eum iriure dolor in
                        hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
                        accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla
                        facilisi.
                    </p>
                </div>
                <p class="uk-text-center uk-margin-medium">
                    <a class="uk-button uk-button-text" href="#">
                        Continue reading
                    </a>
                </p>
            </div>
            <!-- end: uk-container uk-container-small -->
        </article>

        <article id="3" class="uk-article" data-permalink="#">
            <meta property="name" content="&lt;a href=&quot;insert-perm-link&quot; class=&quot;uk-link-reset&quot;&gt;insert-title&lt;/a&gt;">
            <meta property="author" typeof="Person" content="Michiel Oppenheimer">
            <meta property="dateModified" content="2018-10-02T14:07:23+00:00">
            <meta property="datePublished" content="2018-10-02T14:07:23+00:00">
            <meta class="uk-margin-remove-adjacent" property="articleSection" content="Blog">

            <!-- start: uk-container uk-container-small -->
            <div class="uk-container uk-container-small">
                <h2 class="uk-margin-large-top uk-margin-remove-bottom uk-text-center uk-article-title">
                    <a href="#" class="uk-link-reset">Azure storage</a>
                </h2>
                <p class="uk-margin-top uk-margin-remove-bottom uk-article-meta uk-text-center">
                    Written by Super User on <time datetime="2018-10-02T14:07:23+00:00">02 October 2018</time>.
                    Posted in <a href="#">Blog</a>
                </p>
                <div class="uk-margin-medium-top" property="text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute
                        iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis autem vel eum iriure dolor in
                        hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
                        accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla
                        facilisi.
                    </p>
                </div>
                <p class="uk-text-center uk-margin-medium">
                    <a class="uk-button uk-button-text" href="#">
                        Continue reading
                    </a>
                </p>
            </div>
            <!-- end: uk-container uk-container-small -->
        </article>

        <article id="4" class="uk-article" data-permalink="#">
            <meta property="name" content="&lt;a href=&quot;insert-perm-link&quot; class=&quot;uk-link-reset&quot;&gt;insert-title&lt;/a&gt;">
            <meta property="author" typeof="Person" content="Michiel Oppenheimer">
            <meta property="dateModified" content="2018-10-02T14:07:23+00:00">
            <meta property="datePublished" content="2018-10-02T14:07:23+00:00">
            <meta class="uk-margin-remove-adjacent" property="articleSection" content="Blog">
            <!-- start: uk-text-center uk-margin-medium-top -->
            <div class="uk-text-center uk-margin-medium-top" property="image" typeof="ImageObject">
                <a href="#">
                    <img data-src="../images/tmp/entry-3.jpg" data-srcset="../images/tmp/entry-3.jpg 768w, ../images/tmp/entry-3.jpg 1024w, ../images/tmp/entry-3.jpg 1200w" data-sizes="(min-width: 1200px) 1200px" data-width="1200" data-height="600" uk-img="" property="url" alt="" src="../images/tmp/entry-3.jpg" sizes="(min-width: 1200px) 1200px" srcset="../images/tmp/entry-3.jpg 768w, ../images/tmp/entry-3.jpg 1024w, ../images/tmp/entry-3.jpg 1200w">
                </a>
            </div>
            <!-- end: uk-text-center uk-margin-medium-top -->
            <!-- start: uk-container uk-container-small -->
            <div class="uk-container uk-container-small">
                <h2 class="uk-margin-large-top uk-margin-remove-bottom uk-text-center uk-article-title">
                    <a href="#" class="uk-link-reset">Server Functions</a>
                </h2>
                <p class="uk-margin-top uk-margin-remove-bottom uk-article-meta uk-text-center">
                    Written by Super User on <time datetime="2018-10-02T14:07:23+00:00">02 October 2018</time>.
                    Posted in <a href="#">Blog</a>
                </p>
                <div class="uk-margin-medium-top" property="text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute
                        iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis autem vel eum iriure dolor in
                        hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
                        accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla
                        facilisi.
                    </p>
                </div>
                <p class="uk-text-center uk-margin-medium">
                    <a class="uk-button uk-button-text" href="#">
                        Continue reading
                    </a>
                </p>
            </div>
            <!-- end: uk-container uk-container-small -->
        </article>

    </div>
    <!-- end: uk-container -->
</div>
<!-- end: uk-section uk-section-default -->
